{{#section 'title'}}
	Loại sản phẩm
{{/section}}
{{#section 'css'}}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/imgs/Logo.png" type="image/png" sizes="8x8">
    <title>Admin</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="assets_admin/css/normalize.css">
    <link rel="stylesheet" href="assets_admin/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets_admin/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="assets_admin/css/themify-icons.css">
    <link rel="stylesheet" href="assets_admin/css/flag-icon.min.css">
    <link rel="stylesheet" href="assets_admin/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="assets_admin/scss/style.css">
    <link href="assets_admin/css/lib/vector-map/jqvmap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
{{/section}}
	{{#section 'bodyleft'}}
		<nav class="navbar navbar-expand-sm navbar-default">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand hidden" href="./"><img src="/imgs/Logo.png" alt="Logo"></a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/home"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                    </li>
                    <h3 class="menu-title">Quản lý sản phẩm</h3><!-- /.menu-title -->
          
					<li class="dropdown"><a href="/byCatAdmin"><i class="menu-icon fa fa-book"></i> Loại sản phẩm</a>
						<li>
							{{#each layoutVM.categories}}
							     <a href="/byCatAdmin/{{CatID}}">{{CatName}}</a>			
							{{/each}}
						</li>
					</li>
					<li class="dropdown"><a href="/byProduAdmin"><i class="menu-icon fa fa-book"></i> Nhà sản xuất</a>
						<li>
							{{#each layoutVM2.producers}}
							     <a href="/byProduAdmin/{{ProduID}}">{{ProduName}}</a>
							{{/each}}
						</li>
					</li>
                    <h3 class="menu-title">Đơn hàng</h3><!-- /.menu-title -->
                    <li>
                        <a href="TinhTrangDonHang.html"> <i class="menu-icon ti-email"></i>Tình trạng đơn hàng</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
	{{/section}}

	{{#section 'bodyright'}}
		<div class="col-lg-12">
            <div class="header-menu">            
                <div class="form-group row">
                	<label for="example-search-input" class="col-2 col-form-label">Tìm kiếm</label>
          		    <div class="col-10">
            	       <input class="form-control" type="search" id="example-search-input">
          	        </div>
                </div> 
            </div>
        </div>
        <div class="col-lg-12">
            <div style="margin-top:50px">
                <table class="table" >
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col">STT</th>
                          <th scope="col">Mã sản phẩm</th>
                          <th scope="col">Tên sản phẩm</th>
                          <th scope="col">Số lượng</th>
                          <th scope="col">Giá bán</th>
                        </tr>
                      </thead>
                      <tbody>
                        {{#each loadAllByCatAdmin}}
                          <tr>
                            <div><th scope="row" id="id">1</th></div>
                            <script>
                                var id = $("#id");
                                id.html( parseInt(id.html()) + 1 );
                            </script>
                            <td>{{ProID}}</td>
                            <td>{{ProName}}</td>
                            <td>{{Sales}}</td>
                            <td>{{Price}}</td>
                          </tr>
                        {{/each}}
                        
                      </tbody>
                </table>
            </div>
        </div>
        
	{{/section}}